form {
  width: 25%;
  height: 250px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  background-color: #ff5000;
  border-radius: 9px;
}

.email {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.email label {
  text-align: center;
}

.email input {
  width: 60%;
  text-align: center;
  height: 25px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}

.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password label {
  text-align: center;
}

.password input {
  width: 60%;
  text-align: center;
  height: 25px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}

.btn {
  text-align: center;
}
.btn button {
  width: 70px;
  height: 30px;
  border-radius: 3px;
  transition: 0.5s;
}
.btn button:hover {
  background-color: #f2255e;
  transition: 0.5s;
  color: white;
}
