.box-cart {
  display: flex;
}

.left-cart img {
  width: 100px;
  height: 100px;
}
.right-cart input {
  width: 20px;
}

.box {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
.left {
  margin-right: 20px;
}

.induk {
  margin-bottom: 15px;
}
