.container-product {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.box-product {
  margin-top: 20px;
  width: 180px;
}
.box-product img {
  width: 170px;
}
.price-btn {
  display: flex;
}
